<%= render "shared/messages_menu" %>
<% if @inbox_messages.blank? %>
  <label>
  Inbox is empty
  </label>
<% else %>
  <table class="table table-hover table-bordered">
    <thead>
      <th>From</th>
      <th>Subject</th>
      <th>Content</th>
      <th>Sent at</th>
    </thead>
    <tbody>
     <% @inbox_messages.each do |message| %>
       <tr>
         <td>
           <%=h message.sender.name %>
         </td>
         <td>
           <%=h message.subject %>
         </td>
         <td>
           <%= link_to("Show",show_messages_path(:id=>message)) %>
         </td>
         <td><%=h message.updated_at %></td>
       </tr>
     <% end %>
    </tbody>
  </table>
<% end %>
