<%= render 'shared/messages_menu' %>
<h4>Date</h4>
<%= @message.updated_at %>
<h4>From</h4>
<lavel>
<%= @message.sender.name %>
</label>
<h4>Subject</h4>
<label>
  <%= @message.subject %>
</label>
<h4>Content</h4>
<label>
  <%= @message.body %>
</label>
<h4>Reply to</h4>
  <%= simple_form_for(@message) do |f| %>
    <fieldset>
      <%= f.input :recepient_id, :input_html=> {class: 'recepient', value: "#{@message.sender_id}" }, :label=> false %>
      <%= f.input :subject, :label=> false, :input_html=>{ value: "Re: #{@message.subject}"} %>
      <%= f.input :body, :label=> false, :required=> false, :input_html => {:rows=>5,:style=>'width:100%', :value=>''} %>   
      <%= f.button :submit,'Reply to',:class=>"btn btn-primary" %>
    </fieldset>
  <% end %>
