<%= render 'shared/messages_menu' %>
<h4>Date</h4>
<%= @message.updated_at %>
<h4>From</h4>
<lavel>
<%= @message.sender_id %>
</label>
<h4>Subject</h4>
<label>
  <%= @message.subject %>
</label>
<h4>Content</h4>
<label>
  <%= @message.body %>
</label>
<h4>Reply</h4>
  <%= simple_form_for @message, url: reply_messages_path(:id=>@message), method: :post do |f| %>
    <fieldset>
      <%= f.input :subject, :label=> false, :input_html=>{ value: "Re: #{@message.subject}"} %>
      <%= f.input :body, :label=> false, :required=> false, :placeholder=> 'Reply : Hi, how are you? ...', :input_html => {:rows=>5,:style=>'width:100%', :value=>''} %>   
      <%= f.submit 'Reply',:class=>"btn btn-primary" %>
    </fieldset>
  <% end %>
